@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-y: hidden;
}

.body::-webkit-scrollbar {
    width: 6px; /* width of the scrollbar */
    background-color: #F5F5F5; /* background color of the scrollbar track */
}

.body::-webkit-scrollbar-thumb {
    background-color: #000000; /* color of the scrollbar thumb */
}

.container {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scrollbar-width: thin; /* for Firefox */
    -webkit-scrollbar-width: thin; /* for Webkit based browsers */
}

.container::-webkit-scrollbar {
    width: 6px; /* width of the scrollbar */
    background-color: #F5F5F5; /* background color of the scrollbar track */
}

.container::-webkit-scrollbar-thumb {
    background-color: #000000; /* color of the scrollbar thumb */
}

.nav-bar {
    background-color: rgba(255, 255, 255, 0.8);;
    border: 1px solid rgba(0, 0, 0, 0.5);
    height: 3rem;
    width: 50%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 20px 20px;
    z-index: 100;
}

.nav-bar-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-content button{
    height: 4vh;
    width: 10vw;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0 1rem;
}

.nav-bar-content button:hover{
    background-color: #444;
    color: #fff;
    transition: 0.5s;
}

section {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.section1 {
    background-color: rgb(79,148,241);
    transition: background-color 2s;
}

.section1.loaded {
    background-color: rgb(102,51,255);
    background-image: url("https://media4.giphy.com/media/1pqlCWXB0Q18SuCju7/giphy.gif");
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.section2 {
    background-color: lightblue;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes-container {
    width: 100%; /* Set the width of the container */
    height: 100%; /* Set the height of the container */
    position: relative;
    display: flex;
    flex-wrap:wrap;
}

.box {
    width: 100%; /* Each box takes up 50% of the container width */
    height: 50%; /* Each box takes up 20% of the container height */
}

.boxtitle {
    width: 45%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
}

.box1 {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.box2 {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: lightsalmon;
}

@keyframes slide {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .slideshow-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .slideshow {
    width: 100%;
    height: 100%;
    animation: slide 5s infinite; /* Adjust the duration (5s in this case) as needed */
  }

.section3{
    background-color: lightseagreen;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section3 .content-box{
    border: 1px dashed #000;

    width: 80%;
    height: 90%;
    margin-top: 2rem;
    display: flex;
    justify-content: start;
    align-items: center;

}

.section3 .content-box h1{
    font: 500 10rem 'Italianno';
    margin-top: -1rem;
}

.menuBox {
    border: 1px solid #000;
    width: 90%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section4{
    background-color: lightskyblue;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section5 {
    background-color: lightgreen;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


footer {
    background-color: yellow;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

.content-box{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-box h1{
    font: 700 10rem 'Italianno';
    margin-bottom: 2rem;
    color: rgba(255, 255, 255, 0.9);;
}

.link-div{
    height: 10vh;
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button{
    height: 5vh;
    width: 10vw;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.8);
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

button:hover{
    background-color: #fff;
    color: #000;
    transition: 0.5s;
}
